/* SPDX-License-Identifier: CC-BY-4.0 */
/* Copyright Contributors to the Zowe project. */

* {
  box-sizing: border-box;
}

body html {
  margin: 0px;
  overflow-x: hidden!important;
  overflow-y: hidden!important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav {
  padding-bottom: 0px;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  background-color: lightblue;
}

.nav-item:hover {
  background-color: #eeeeee;
}

.nav-item:hover, .nav-item:hover > a.nav-link {
  color: black !important;
  cursor: pointer;
}

.nav-item > .nav-link {
  color: white !important;
  font-size: large;
  font-weight: 500;
  margin-right: -2px !important;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 19.8%;
  text-align: center;
}

nav.navbar {
  padding: 0px;
  margin-top: 25px;
}

.socialheader {
  width:20%;
}

.socialheader img{
  width:15%;
  padding-right:3%;
}

.socialfooter {
  width:60%;
}

.socialfooter a img{
  width: 40px;
  padding-right:2%;
  display:inline;
}

@media (max-width:900px) {
  .medium-widget-article__grid {
    flex-direction: column !important;
  }
}

.image-zowe-use{
  width: 370px;
  margin-bottom: 1rem;
}

@media (max-width:768px) and (min-width:420px) {
  .image-zowe-use{
    width: 250px;
  }
}