* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav {
  height: 125px;
  width: 100%;
  background-color: #3d3d3d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  color: #fff;
  padding-left: 4%;
  padding-top:2%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  padding:3%;
  padding-right:7%;
  font-size: 18px;
  cursor: pointer;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: #efefef;
  font-weight:700;
  cursor: pointer;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer; 

}

.nav > #nav-check {
  display: none;
}

@media (max-width:970px) {


  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    display:none;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
