<!-- SPDX-License-Identifier: CC-BY-4.0 -->
<!-- Copyright Contributors to the Zowe project. -->
<!DOCTYPE html>

<html lang="en-US" class="no-js no-svg">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82811140-33"></script>
<script async src="https://cdn.jsdelivr.net/npm/details-polyfill@1/index.min.js"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-82811140-33');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="assets/favicon.ico" />
<title>{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ site.keywords }}">

<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="stylesheet" type="text/css" href="assets/css/menu.css">
<link rel='stylesheet' id='olympus-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C500%2C700%2C900%2C0%7CRoboto+Condensed%3A300%2C400%2C700%2C0&#038;subset=greek-ext%2Cvietnamese%2Clatin%2Ccyrillic%2Cgreek%2Clatin-ext%2Ccyrillic-ext&#038;ver=4.9.8' type='text/css' media='all' />

<script
  src="https://code.jquery.com/jquery-1.10.1.js"
  integrity="sha256-663tSdtipgBgyqJXfypOwf9ocmvECGG8Zdl3q+tk+n0="
  crossorigin="anonymous"></script>

<script>

  $(".nav-links, ul.primary-nav li a").click(function () {
    $(".primary-nav").toggleClass("open");
	});

  // Closes menu on link click
  $(document).on('click', '.nav-links a', function() {
    $('#nav-check').prop('checked', false);
  });

 </script>
 

</head>
<div class="lfheader">
<img src="assets/img/lf-projects.svg">
</div>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <div class="logo"><img src="assets/img/zowe-logo.svg"></div>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/#what-is-zowe">What is Zowe?</a>
    <a href="/#download">Download</a>
    <a href="/#documentation">Documentation</a>
    <a href="/#community">Community</a>
    <a href="/#conformance">Zowe Conformance Program</a>
</div>
</div>

{{ content }}




<footer>

<div class="footercol1">
<img src="assets/img/zowe-logo.svg">
<div class="socialfooter" style="display:inline !important">
<a href="{{ site.github_repo_url }}"><img src="assets/img/github.svg"></a><a href="{{ site.forums_url }}"><img src="assets/img/forums.svg"></a><a href="{{ site.slack_url }}"><img src="assets/img/slack.svg"></a><a href="{{ site.mailing_list_user_url }}"><img src="assets/img/mail.svg"></a><a href="{{ site.youtube_zowe_url }}"><img src="assets/img/youtube.svg"></a>
</div>
<a href="https://bestpractices.coreinfrastructure.org/projects/2226"><img src="https://bestpractices.coreinfrastructure.org/projects/2226/badge"></a>
</div>

<div class="footercol2">
  <a href="/#what-is-zowe">What is Zowe?</a>
  <a href="/#download">Download</a>
  <a href="/#documentation">Documentation</a>
  <a href="/#community">Community</a>
  <a href="/#conformance">Zowe Conformance Program</a>
</div>

<div class="footercol3">
Zowe is hosted by <a href="https://www.openmainframeproject.org/"><img style="padding-top:3%;width:50%" src="assets/img/omp-logo.png"></a>
</div>

<div class="copyright">© 2019 Open Mainframe Project. a Linux Foundation Project. All Rights Reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page. Please refer to <a href="https://www.openmainframeproject.org/wp-content/uploads/sites/11/2019/06/Open-Mainframe-Project-Marketing-and-Branding-Guidelines.pdf">Marketing and Branding Guidelines</a> for name usage guidelines. Linux is a registered trademark of Linus Torvalds. <a href="http://www.linuxfoundation.org/privacy">Privacy Policy</a> and <a href="http://www.linuxfoundation.org/terms">Terms of Use</a>
</div>

</footer>


</html>
