<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">
<head>

<title>What is Zowe?</title>

<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel='stylesheet' id='olympus-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C500%2C700%2C900%2C0%7CRoboto+Condensed%3A300%2C400%2C700%2C0&#038;subset=greek-ext%2Cvietnamese%2Clatin%2Ccyrillic%2Cgreek%2Clatin-ext%2Ccyrillic-ext&#038;ver=4.9.8' type='text/css' media='all' />

</head>

<div class="navigation-top">

<div class="logo"
<a href="/home"><img width="890" src="assets/img/zowe-logo.png" class="logo" alt="" /></a>
</div>

<div class="menu">
  <a href="/#what-is-zowe">What is Zowe?</a>
  <a href="/#download">Download</a>
  <a href="/#documentation">Documentation</a>
  <a href="/#community">Community</a>
</div>
</div>
</nav>



{{ content }}



<footer>

<div class="footercol1">
<img src="assets/img/zowe-logo.png">

</div>

<div class="footercol2">
  <a href="/#what-is-zowe">What is Zowe?</a>
  <a href="/#download">Download</a>
  <a href="/#documentation">Documentation</a>
  <a href="/#community">Community</a>
</div>

<div class="footercol3">

Zowe is hosted by <a href="https://www.openmainframeproject.org/">Open Mainframe Project</a>

</div>


</footer>


</html>
