<!-- SPDX-License-Identifier: CC-BY-4.0 -->
<!-- Copyright Contributors to the Zowe project. -->

<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">
  <head>
    <script src="https://cmp.osano.com/16A0DbT9yDNIaQkvZ/3b49aaa9-15ab-4d47-a8fb-96cc25b5543c/osano.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82811140-33"></script>
    <script async src="https://cdn.jsdelivr.net/npm/details-polyfill@1/index.min.js"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-82811140-33');
    </script>
  <!-- Hotjar Tracking Code for https://www.zowe.org/ -->
    <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3063896,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <title>{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/menu.css' | relative_url }}" />
    <link rel='stylesheet' id='olympus-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C500%2C700%2C900%2C0%7CRoboto+Condensed%3A300%2C400%2C700%2C0&#038;subset=greek-ext%2Cvietnamese%2Clatin%2Ccyrillic%2Cgreek%2Clatin-ext%2Ccyrillic-ext&#038;ver=4.9.8' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% if page.extraHeaders %}{% include {{ page.extraHeaders }} %}{% endif %}
  </head>

  <body>
    <div class="lfheader">
      <img src="/assets/img/lf-projects.svg" alt="Linux Foundation Logo" class="img-top" >
      <div>
        <div class="zowe-img-middle">
          <img class="zowe-img-middle-inner" src="/assets/img/transparent-Zowe-logo2.png" alt="Zowe Logo">
        </div>
      </div>
      <button class="navbar-toggler burgerbtn mobile-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>

      <nav class="nav navbar navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-overview">
              <a class="nav-link" href="/">Overview</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-download">
              <a class="nav-link" href="/download.html">Download</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards">
              <a class="nav-link" href="https://docs.zowe.org">Docs</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-learn">
              <a class="nav-link" href="/learn.html">Learn</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-extend">
              <a class="nav-link" href="/extend.html">Extend</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-community">
              <a class="nav-link" href="/contribute.html">Community</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-support">
              <a class="nav-link" href="/support.html">Support</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-security">
              <a class="nav-link" href="/security.html">Security</a>
            </li>
            <li class="nav-item animated-tile-bigger animate-upwards" id="menu-vnext">
              <a class="nav-link" href="/vNext.html">vNext</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {{ content }}

    <footer>
      <div class="footercol1">
        <img src="/assets/img/zowe-logo.svg">
        <div class="socialfooter" style="display:inline !important">
        <a href="{{ site.github_repo_url }}"><img src="/assets/img/github.svg"></a><a href="{{ site.forums_url }}"><img src="/assets/img/forums.svg"></a><a href="{{ site.slack_url }}"><img src="/assets/img/slack.svg"></a><a href="{{ site.mailing_list_user_url }}"><img src="/assets/img/mail.svg"></a><a href="{{ site.youtube_zowe_url }}"><img src="/assets/img/youtube.svg"></a>
        </div>
        <a href="https://bestpractices.coreinfrastructure.org/projects/2226"><img src="https://bestpractices.coreinfrastructure.org/projects/2226/badge"></a>
        <a href="https://www.netlify.com">Deploys by Netlify</a>            
      </div>

      <div class="footercol2">
        <a href="/">Overview</a>
        <a href="/download">Download</a>
        <a href="https://docs.zowe.org">Docs</a>
        <a href="/learn">Learn</a>
        <a href="/extend">Extend</a>
        <a href="/contribute">Community</a>
        <a href="{{ site.conformance_page_url}}">Zowe Conformance Program</a>
        <a href="/privacy_policy">Privacy policy</a>
      </div>

      <div class="footercol3">
      Zowe is hosted by <a href="https://www.openmainframeproject.org/"><img style="padding-top:3%;width:50%" src="/assets/img/omp-logo.png"></a>
      <p>Hosting infrastructure for this project is supported by:</p>
      <p>
        <a href="https://www.digitalocean.com/?utm_medium=opensource&utm_source=zowe">
          <img src="https://opensource.nyc3.cdn.digitaloceanspaces.com/attribution/assets/SVG/DO_Logo_horizontal_white.svg" width="201px">
        </a>
      </p>
      </div>
      <div class="copyright">Copyright © Zowe a Series of LF Projects, LLC. For web site terms of use, trademark policy and other project policies please see <a href="http://lfprojects.org">lfprojects.org</a>.
      </div>
    </footer>
  {% if page.extraJs %}{% include {{ page.extraJs }} %}{% endif %}
  </body>
</html>
